
*{
    margin:0;
    padding:0;

}
html{
    scroll-behavior: smooth;
}
.logo{
    width:20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo img{
    width: 33%;
    border:3px solid white;
    border-radius: 50px;
}
.navbar{
    display:flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    

}
.nav-list{
width: 70%;
/* background-color: rgb(245, 188, 197); */
display: flex;
align-items: center;
}
.nav-list li {
list-style: none;
padding:15px 20px;
}
.nav-list li a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: "Merriweather", serif;
}
.nav-list li a :hover{
    color: rgb(146, 145, 145);
}
.rightNav{
    /* background-color: rgb(135, 99, 236); */
    width: 30%;
    text-align: right;
    padding:0 23px;
}
#search{
    padding:5px;
    font-size:17px;
    border:2px solid grey;
    border-radius:9px;
}
.background{
    background: rgba(99, 47, 47, 0.7) url('img/court.jpeg');
    background-size:cover;
    background-blend-mode:darken;
    
}
.box-main{
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 50%;
    margin:auto;
    height: 90%;
    padding-right: 30%;
    padding-left: 15%;
    
}
.firstsection{
height: 50vh;


}
.firsthalf{
    width:80%;
    display:flex;
    justify-content: center;
    flex-direction: column;
}
.secondhalf{
    width:30%;
   
}
.secondhalf img{
        width: 210%;
    border: 2px solid  white ;
    /* border-radius:200px; */
    display: block;
    margin:auto;
    margin:10px;

}
.text-big{
    font-size: 45px;

}
.text-small{
 font-size: 18px;
}
.btn{
    padding: 8px 18px;
    margin:7px 3px;
    border:2px solid white;
    border-radius: 8px;
    font-size:18px;
    background: none;
    color: white;
    cursor: pointer;
    font-family:"Merriweather", serif;
    font-size:20px;
}
.btn-sm{
    padding:6px 10px;
    vertical-align: middle;
    font-size: 16px;
}
.section {
    /* height: 280px; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    max-width: 80%;
    margin: auto;
     /* font-family: "Merriweather", serif; */
  font-weight: 400;
  font-style: normal;
  padding: 10px;
  /* background-color: pink; */
  border:2px solid rgb(235, 226, 226);
  margin-bottom: 10px;
  background-color: rgb(241, 216, 216);
  box-shadow: 10px 10px 5px rgb(241, 214, 214);
  border-radius: 8px;
}
.left{
    flex-direction: row-reverse;
}
.paras{
    padding:0px 65px;
}
.sectionTag{
    padding:16px 0;
}
.sectionSubTag{
font-family: sans-serif;
}
/* .thumnail img{
    width: 280px;
    border:2px solid grey;
    border-radius: 20px;
    margin-top: 19px;
    height: 18vh;
} */
.contact{
    background-color: rgb(245, 236, 236);
    height: 630px;
}
.text-center{
    text-align: center;
    padding-top: 30px;
    font-family: "Merriweather", serif;
    font-size: 35px;
}
.form{
    max-width: 62%;
    margin:25px auto;
}
.form-input{
    margin:14px 0;
    padding: 5px 13px;
    width: 100%;
    font-size: 19px;
    border: 2px solid grey;
    border-radius: 6px;
    font-family: sans-serif;
}
.btn-dark{
    color:black;
    border: 2px solid grey;
}
.text-footer{
     text-align: center;
    padding:10px 0;
    font-family: "Merriweather", serif;
    display:flex;
    justify-content: center;
    color:white;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top:15px
}
.line{
    width:33px;
    background-color: white;
    height: 4px;
    margin:5px 3px;
}
.ADVO{
    color: #941313d9;
    font-size: 68px;
    justify-content: center;
    text-align: center;
    margin-bottom: 0px;
    margin-top: 20px;
}
/* to get tab space */
/* .tab{
    tab-size:4;
} */
.services{
    /* background-color: blue; */
    padding-right: 22%;
    padding-left: 22%;
    align-items: center;
}